DJANGO_SECRET_KEY=django-[put your secret key here]
DJANGO_DEBUG=True
POSTGRES_DB=merchants_db
POSTGRES_USER=Obed
POSTGRES_PASSWORD=[put your password here]
POSTGRES_HOST=postgres-db
POSTGRES_PORT=5432